<div class="row landing">
    <header class="signupheader">
        <h3>Sign Up </h3>
    </header>
    <div class="card-body ">

        <form class="row g-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
                {{msg}}
            </div>
            <div class="col-md-6">
                <label for="inputfname" class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="firstName" id="inputfname">
            </div>
            <div class="col-md-6">
                <label for="inputlname" class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" id="inputlname">
            </div>

            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" id="inputEmail4">
            </div>
            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Pass word</label>
                <input type="password" class="form-control" formControlName="passWord" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="phonenumber" class="form-label">Phone  Number</label>
                <input type="number" class="form-control" id="phonenumber" formControlName="phoneNumber" placeholder="Enter Number">
            </div>
            <div class="col-12">


                <button type="submit" *ngIf="load" class="btn btn-primary signinbutton">
                        <span class="spinner-border spinner-border-sm "></span>
                        Loading...
                    </button>
                <button class="" *ngIf="!load" type="submit " [disabled]="registerForm.invalid" class="btn btn-primary signinbutton">Sign up</button>

            </div>
        </form>
    </div>
</div>