<div class="card  text-white">
    <img src="../../../assets/lanfing2.jpg" class="card-img" alt="...">
    <div class="card-img-overlay  cardbox">
        <h5 class="card-title"> 1-on-1, online or In person tutoring.
        </h5>
        <p class="card-text">We help kids from all communities to unlock their own potential by connecting them with exceptional tutors online and person.</p>
        <span><a [routerLink]="[ '/signupStudent'] " type="button" class="btn btn-secondary btn-lg  landingButton1">Become Student</a>

        </span>
        <span><a [routerLink]="[ '/SignupTeacher'] " type="button" class="btn btn-secondary btn-lg landingButton2">Become A  Tutor</a>
            
        </span>
    </div>
</div>