.navspace {
    margin-left: 10rem !important;
}

nav.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-toggler {
    background-color: #fff !important;
}

.navbar {
    background-color: #363232 !important;
}

.leftNav {
    padding-right: 1rem !important;
}

.brandlogo {
    margin-left: 3rem !important;
}

.links {
    margin-right: 3rem;
}

.signinbutton {
    background-color: #ecd9c6 !important;
    border-radius: 1rem;
    padding-left: 0 2rem 0 2rem;
}