<!-- Footer -->
<footer class="text-center text-lg-start fixed-bottom text-white" style="background-color: #363232">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class=" ">
            <!--Grid row-->
            <div class="row ">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">
                        Get to Know us </h6>
                    <p style="color: #afabaa ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nam aut eveniet doloribus amet voluptates autem, numquam tenetur libero corrupti debitis ut quia inventore pariatur, veniam sunt consectetur quasi tempora?
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none " />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">Services</h6>
                    <p>
                        <a [ngStyle]="{color: '#afabaa', textDecoration: 'none'} " [routerLink]="[ '/SignupTeacher'] ">Find Tutor</a>
                    </p>
                    <p>
                        <a [ngStyle]="{color: '#afabaa', textDecoration: 'none'} ">Rates</a>
                    </p>
                    <p>
                        <a [ngStyle]="{color: '#afabaa', textDecoration: 'none'} " style="color: #afabaa ">Review</a>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none " />

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none " />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">Contact</h6>
                    <p [ngStyle]="{color: '#afabaa', textDecoration: 'none'} "><i class="fas fa-home mr-3 "></i > New York, NY 10012, US</p>
                    <p [ngStyle]="{color: '#afabaa', textDecoration: 'none'} "><i class="fas fa-envelope mr-3 "></i> info@gmail.com</p>
                    <p [ngStyle]="{color: '#afabaa', textDecoration: 'none'} "><i class="fas fa-phone mr-3 "></i> + 01 234 567 88</p>
                    <p [ngStyle]="{color: '#afabaa', textDecoration: 'none'} "><i class="fas fa-print mr-3 "></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 ">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">Follow us</h6>


                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>

</footer>
<!-- Footer -->